
<div class="container">
        <div class="row p-5">
                <div class="col-md-8 offset-md-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="form-group">
                        <div class="card-header mb-2">
                          <h1 class="text-center text-white text-muted text-capitalize"> Nuevo cliente</h1>
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Nombre y apellido</span>
                                </div>
                                <input type="text" aria-label="First name" class="form-control">
                                <input type="text" aria-label="Last name" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDniClient">Dni</label>
                          </div>
                          <input type="number" id="inputDniClient" class="form-control">

                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputCuitClient">CUIT</label>
                                </div>
                                <input type="number" id="inputCuitClient" class="form-control">

                              </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDateClient">Fecha Nacimiento</label>
                          </div>
                          <input type="date" id="inputDateClient" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputSexClient">Sexo</label>
                                </div>
                                <select class="custom-select" id="inputSexClient">
                                  <option  *ngFor='let s of sexs'>

                                    {{ s.type_sex}}

                                </option>

                                </select>
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputTypePersonClient">Tipo de persona</label>
                                </div>
                                <select class="custom-select" id="inputTypePersonClient">
                                  <option  *ngFor='let t of typepeople'>

                                    {{ t.name_type_persons}}

                                </option>

                                </select>
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputTypeConsumerClient">Tipo de consumidor</label>
                                </div>
                                <select class="custom-select" id="inputTypeConsumerClient">
                                  <option  *ngFor='let t of typeconsumers'>

                                    {{ t.name_type_consumer}}

                                </option>

                                </select>
                        </div>



                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputEmailClient">Email</label>
                          </div>
                          <input type="email" id="inputEmailClient" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputPhoneClient">Telefono(fijo)</label>
                          </div>
                          <input type="number" id="inputPhoneClient" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputMobileClient">Celular</label>
                                </div>
                                <input type="number" id="inputMobileClient" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputAdressClient">Direccion</label>
                                </div>
                                <input type="text" id="inputAdressClient" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputLocationClient">Localidad</label>
                                </div>
                                <select class="custom-select" id="inputLocationClient">
                                  <option  *ngFor='let l of locations'>

                                    {{ l.nombre}}

                                </option>

                                </select>
                        </div>





                            <button class="btn btn-success btn-block">
                                Guardar cliente
                            </button>







                      </div>
                    </div>
                  </div>
                </div>
        </div>
</div>
