
<app-navigation></app-navigation>

<div class="container-fluid ">

    <div class="row ">

      <div class="col-md-2  ">
          <div class="btn-group mt-4 ">

              <button class=" btn btn-primary" routerLink="/listClientes">Clientes</button>
              <button class="btn dropdown-toggle btn-primary " data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu text-light text-center">
                <li >
                   <a routerLink="/formCliente">Nuevo Cliente</a>
                </li>
              </ul>
            </div>

      </div>
      <div class="col-md-10 mt-4">
          <router-outlet></router-outlet>

      </div>
    </div>
  </div>
